---
interface LogoIconProps {
  variants: "default" |  "white";
  className?: string;
}
const { variants = "default", className } = Astro.props as LogoIconProps;
---

<div class={`logo-container ${className}`}>
  <h1 class="font-harabara text-5xl flex items-center leading-none">
    <span class={`logo-first-text relative flex items-center ${variants === "white" ? "text-white" : "text-primary"}`}>
      Jo
      <span class="relative inline-block">
        <span
          class="absolute top-[0.062em] left-[47.8%] -translate-x-1/2 h-[0.18em] w-[0.18em] rounded-full bg-tertiary"
        ></span>
        i
      </span>
    </span>
    <span
      class="logo-separator w-[2px] h-[60px] bg-secondary/20 shadow-2xl rounded-2xl scale-y-0"
    ></span>
    <span class={`logo-second-text ${variants === "white" ? "text-white" : "text-secondary"}`}>Solutions</span>
  </h1>
</div>
