---
import { Image } from "astro:assets";
import Benefits from "../components/Benefits.astro";
import CTA from "../components/CTA.astro";
import Hero from "../components/Hero.astro";
import QuoteAnimation from "../components/QuoteAnimation.astro";
import Layout from "../layouts/Layout.astro";
import girlImage from "../assets/girl.png";
import AddedValue from "../components/AddedValue.astro";
import RedJoi from "../components/RedJoi.astro";
import VideoSection from "../components/VideoSection.astro";
---

<Layout>
  <Hero />
  
  <QuoteAnimation />
 
  <AddedValue />
  <Benefits />

  <section class="w-full bg-white pb-10 px-4 md:px-6">
    <div
      class="max-w-screen-xl mx-auto flex flex-col md:flex-row gap-10 md:gap-20 p-8 items-center bg-neutral-50 rounded-3xl border border-neutral-200"
    >
      <div
        class="w-full md:w-1/2 bg-tertiary/70 p-10 md:p-20 rounded-3xl flex items-center justify-center"
      >
        <div
          class="w-[300px] h-[300px] md:w-[400px] md:h-[500px] overflow-hidden rounded-xl shadow-md"
        >
          <Image
            src={girlImage}
            width={400}
            alt="Niña pagando con pulsera JoiSolutions"
            class="object-cover w-full h-full"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Texto -->
      <div class="w-full md:w-1/2 space-y-6">
        <div
          class="border w-fit px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg font-medium mb-6 bg-neutral-50 border-neutral-200 shadow-2xl"
        >
          <span class="flex items-center gap-1">Pago NFC</span>
        </div>
        <h2 class="text-3xl md:text-4xl font-bold text-neutral-700">
          Pagos flexibles con TAQ
        </h2>
        <p class="text-neutral-600 text-lg">
          Revoluciona la experiencia de pago en escuelas, eventos y centros
          comerciales con un sistema que pone el control en manos de los
          estudiantes, ¡descubre más aquí!
        </p>
        <ul class="text-neutral-700 list-disc pl-5 space-y-1">
          <li>
            <strong>Fácil de usar:</strong> Solo acercan la pulsera al lector.
          </li>
          <li>
            <strong>Control parental:</strong> Los padres pueden recargar y monitorear
            el saldo.
          </li>
          <li>
            <strong>Cashless total:</strong> Elimina el manejo de efectivo en el
            entorno escolar.
          </li>
        </ul>
      </div>
    </div>
  </section>
  <VideoSection />
 <RedJoi />
  <CTA showImage />
</Layout>
