---
import JoiPayIcon from "../icons/JoiPayIcon.astro";
---

<div
  class="animation-container fixed top-0 left-0 w-full h-dvh items-center justify-center bg-white text-white text-5xl z-[99] hidden"
>
  <JoiPayIcon class="hidden " />
  <div
    class="bg-animation-secondary bg-primary h-dvh w-full fixed top-0 left-0 -z-10 scale-y-0"
  >
</div>

<script>
  import gsap from "gsap";

  const animationContainer = document.querySelector(
    ".animation-container"
  ) as HTMLElement;
  const logoContainer = document.querySelector(
    ".logo-container"
  ) as HTMLElement;
  const logoSeparator = document.querySelector(
    ".logo-separator"
  ) as HTMLElement;
  const logoFirstText = document.querySelector(
    ".logo-first-text"
  ) as HTMLElement;
  const logoSecondText = document.querySelector(
    ".logo-second-text"
  ) as HTMLElement;
  const sloganText = document.querySelector(".slogan-text") as HTMLElement;

  const bgSecondary = document.querySelector(
    ".bg-animation-secondary"
  ) as HTMLElement;

  // Timeline principal
  const tl = gsap.timeline({ defaults: { duration: 0.5, ease: "power2.out" } });

  tl.set(animationContainer, { display: "flex" })
    .set(logoContainer, { display: "flex" })
    .set(logoSeparator, { width: "2px", display: "block" })
    .to(logoSeparator, {
      scaleY: 1,
      duration: 0.4,
      marginLeft: "1rem",
      marginRight: "1rem",
    })
    .from(logoFirstText, { opacity: 0, x: 20, duration: 0.6 })
    .from(logoSecondText, { opacity: 0, x: -20, duration: 0.6 })
    .to(logoSeparator, {
      scaleY: 0,
      duration: 0.6,
      margin: "0",
      ease: "power2.inOut",
      onComplete: () => {
        logoSeparator.style.display = "none";
      },
    })
    .from(sloganText, { opacity: 0, y: 20, duration: 0.6 })
    .to(logoFirstText,{
      color: "white",
      duration: 0.6,
      ease: "power2.inOut",
    })
    .to(bgSecondary, {
      scaleY: 1,
      duration: 0.6,
      transformOrigin: "bottom",
    }, "<=0.2")
    .to(animationContainer, {
      opacity: 0,
      duration: 1,
      onComplete: () => {
        logoContainer.style.display = "none";
        animationContainer.style.display = "none";
        logoSeparator.style.display = "none";
      },
    });
</script>
