<div id="cursor" class="h-3 w-3 bg-tertiary rounded-full fixed z-[100] pointer-events-none hidden md:block"></div>

<script>
    import gsap from "gsap";
    document.addEventListener("mousemove", (e) => {
        const cursor = document.querySelector("#cursor");
        if (cursor) {
            gsap.to(cursor, {
                x: e.clientX,
                y: e.clientY,
                duration: 0.2,
                ease: "power2.out",
            });
        }

        const triggers = document.querySelectorAll(".cursor-trigger");
        triggers.forEach((trigger) => {
            trigger.addEventListener("mouseenter", () => {
                gsap.to(cursor, {
                    scale: 2,
                    backgroundColor: "var(--color-tertiary)",
                    duration: 1,
                    ease: "power4.out",
                });
            });

            trigger.addEventListener("mouseleave", () => {
                gsap.to(cursor, {
                    scale: 1,
                    backgroundColor: "var(--color-tertiary)",
                    duration: 1,
                    ease: "power4.out",
                });
            });
        });
    });
</script>