---
import { Image } from "astro:assets";
import JoiDevice from "../assets/devices.png"; // tu imagen subida
import heroBg from "../assets/hero-bg.svg";
import Solutions from "./Solutions.astro";
---

<section class="relative overflow-hidden">
  <div
    class="w-full max-w-screen-xl mx-auto px-6 md:px-5 py-32 md:py-40 flex flex-col md:flex-row items-center justify-between gap-10 "
  >
    <!-- Texto principal -->
    <div class="md:w-1/2 text-left flex flex-col items-center md:items-start">
      <h1
        class="text-4xl md:text-5xl font-semibold text-neutral-700 leading-tight animate-text text-center md:text-left"
      >
        Crea experiencias de pago <span class="text-tertiary">simples</span> y seguras<span class="text-tertiary">.</span>
      </h1>

      <p class="text-neutral-600 text-lg md:text-xl mt-6 max-w-xl animate-text text-center md:text-left">
        Tecnología innovadora que conecta a las personas para simplificar la
        vida, con alegría.
      </p>

      <div class="mt-10 flex flex-wrap gap-4 animate-button mx-auto md:mx-0">
        <a
          href="/contacto"
          class="bg-primary text-white px-6 py-3 rounded-full shadow-md text-xl font-medium hover:bg-primary/90 transition cursor-trigger"
        >
          ¡Conversemos!
        </a>
      </div>
    </div>

    <!-- Imagen de producto -->
    <div class="max-w-2xl w-full">
      <Image
        src={JoiDevice}
        width={1200}
        height={800}
        alt="Dispositivo Joi"
        class="w-full h-auto object-contain"
        loading="lazy"
      />
    </div>
  </div>

  <!-- Background -->
  <div class="absolute inset-0 -z-10">
    <Image
      src={heroBg}
      alt="Background"
      class="w-full h-full object-cover opacity-50"
      width={1920}
      height={1080}
      loading="lazy"
    />
    <div
      class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(ellipse_at_center,_rgba(255,255,255,0.9)_0%,_transparent_70%)] mix-blend-screen pointer-events-none"
    >
    </div>
  </div>

  <Solutions />
</section>

<script>
  import gsap from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  const animateButton = document.querySelectorAll(
    ".animate-button"
  ) as NodeListOf<HTMLElement>;
  const splitText = new SplitText(".animate-text", {
    type: "words",
    aria: "hidden",
  });

  const words = splitText.words;
  const tl = gsap.timeline({
    defaults: { duration: 0.5, ease: "power2.out" },
  });

  tl.delay(1);
  tl.from(words, {
    opacity: 0,
    y: 40,
    stagger: 0.08,
    duration: 1,
    ease: "sine.out",
  });

  animateButton.forEach((button) => {
    tl.from(
      button,
      {
        opacity: 0,
        scale: 0.95,
        duration: 0.5,
      },
      "<0.3"
    );
  });
</script>
