---
import JoiPayIcon from "../icons/JoiPayIcon.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import Solutions from "./Solutions.astro";
import { Image } from "astro:assets";
import heroBg from "../assets/hero-bg.svg";
---

<section class="relative overflow-hidden">
  <!-- bg gradient bottom -->
  <!-- <div
    class="absolute inset-0 bg-gradient-to-b from-neutral-50 to-primary/60 opacity-10"
  >
  </div> -->
  <div
    class="w-full flex flex-col items-center pt-36 pb-10 overflow-hidden justify-center px-4 md:pl-2 relative h-[70vh] md:min-h-[80vh] 3xl:h-[10vh]"
  >
    <a
      href="/productos"
      class="border border-neutral-200 px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg mb-6 font-medium animate-button bg-white cursor-trigger cursor-pointer"
    >
      <span class="flex items-center gap-1">
      Explorar
        <ArrowRight /></span
      >
      </a>
    <div
      class="text-[1.8em] leading-[1.3em] xl:text-6xl 3xl:text-[5em] md:max-w-[30ch] flex flex-col gap-2 items-center text-neutral-700 text-center text-balance"
    >
      <span class="font-medium animate-text"
        >Conecta el presente con el <span class="text-tertiary font-bold">futuro</span>, el cambio empieza aquí <span
          class="text-tertiary font-black">.</span
        ></span
      >
      <small class=" px-2 text-lg md:text-xl text-neutral-500 animate-text text-balance"
        >Simplificando la tecnología, inspirando momentos<span
          class="text-tertiary">.</span
        ></small
      >
      <div
        class="mt-10 text-sm md:text-lg flex items-center gap-2 text-neutral-800"
      >
        <a
          href="/productos"
          class="bg-neutral-50 px-8 text-neutral-700 py-3 rounded-full shadow-lg cursor-trigger cursor-pointer border border-neutral-200 animate-button relative z-[40]"
        >
          <span class="relative z-[60] font-medium">Explorar</span>
        </a>
        <a
          href="/contacto"
          class="bg-tertiary px-8 text-white py-3 rounded-full shadow-lg cursor-trigger cursor-pointer border-tertiary animate-button relative z-[40]"
        >
          <span class="relative z-[60] font-medium">Contáctanos</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Partículas animadas -->
  <div class="absolute inset-0 -z-[10] pointer-events-none">
    <Image
      src={heroBg}
      alt="Background"
      class="w-full h-full object-cover opacity-50"
      loading="lazy"
      width={1920}
      height={1080}
      priority
    />

    <!-- Overlay radial para enfocar el centro -->
    <div
      class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(ellipse_at_60%_40%,_rgba(0,0,0,0)_0%,_rgba(255,255,255,0.8)_60%)] pointer-events-none mix-blend-screen"
    >
    </div>
  </div>

  <Solutions/>
</section>
<script>
  import gsap from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  const animateButton = document.querySelectorAll(
    ".animate-button"
  ) as NodeListOf<HTMLElement>;
  const splitText = new SplitText(".animate-text", {
    type: "words",
    aria: "hidden",
  });

  const words = splitText.words;
  const tl = gsap.timeline({
    defaults: { duration: 0.5, ease: "power2.out" },
  });
  tl.delay(2.5);
  tl.from(words, {
    opacity: 0,
    stagger: 0.1,
    duration: 2,
    ease: "sine.out",
  });

  animateButton.forEach((button) => {
    tl.from(
      button,
      {
        opacity: 0,
        scale: 0.8,
        duration: 0.5,
        ease: "power2.out",
      },
      "<0.5"
    );
  });
</script>
