<section class="bg-neutral-50 py-20 border-y border-neutral-200">
  <h2 class="text-3xl md:text-4xl font-medium text-center text-neutral-700">
    Impulsando el Futuro <span class="font-bold text-tertiary text-3xl">.</span>
  </h2>
  <div
    class="flex flex-col md:flex-row justify-center w-full items-start gap-10"
  >
    <div class="px-4 pt-20">
      <div class="flex flex-col items-center justify-between">
        <div class="w-full flex flex-col items-center md:items-start">
          <div
            class="border border-neutral-200 px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg mb-6 font-medium bg-neutral-50 shadow-lg"
          >
            <span class="flex items-center gap-1"> Nuestra misión </span>
          </div>
        </div>
        <div class="w-full">
          <p
            class="text-xl text-neutral-700 leading-[1.3em] mb-4 max-w-[40ch] text-center md:text-left"
          >
            Nuestro enfoque combina eficiencia operativa, usabilidad y
            escalabilidad para ayudar a instituciones y empresas a digitalizar
            sus procesos, optimizar la gestión de recursos y habilitar nuevas
            fuentes de ingresos a través de soluciones innovadoras
            <span class="text-tertiary font-black">.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="px-4 py-10 md:py-20">
      <div class="flex flex-col items-center justify-between">
        <div class="w-full flex flex-col items-center md:items-start">
          <div
            class="border border-neutral-200 px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg mb-6 font-medium bg-neutral-50 shadow-lg"
          >
            <span class="flex items-center gap-1"> Nuestra vision</span>
          </div>
        </div>
        <div class="w-full">
          <p
            class="text-xl text-neutral-700 leading-[1.3em] mb-4 max-w-[40ch] text-center md:text-left"
          >
            Ser la marca que lidera la evolución tecnológica en sectores claves,
            conectando innovación con impacto y propósito empresarial<span class="text-tertiary font-black">.</span> <br/><br/>
            Visualizamos un entorno donde la tecnología no solo optimiza
            operaciones, sino que impulsa nuevas formas de crecer, colaborar y
            generar valor para las organizaciones

            <span class="text-tertiary font-black">.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
