<section>
  <div class="max-w-screen-xl mx-auto px-4 pt-40">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="w-full md:w-1/2 flex flex-col items-center md:items-start">
        <div
          class="border border-neutral-200 px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg mb-6 font-medium bg-neutral-50 shadow-lg"
        >
          <span class="flex items-center gap-1"> Nuestra misión </span>
        </div>
        <h2
          class="text-3xl text-center md:text-left md:text-4xl 3xl:text-[6em] font-black text-neutral-700 leading-[1.3em] mb-4 text-balance"
        >
          Construyendo el futuro con pasión<span class="text-tertiary">.</span>
        </h2>
      </div>
      <div class="w-full md:w-1/2">
        <p class="text-xl text-neutral-700 leading-[1.3em] mb-4 max-w-[50ch] text-center md:text-left">
          Impulsar un nuevo estándar en soluciones tecnológicas: accesibles,
          ágiles y centradas en las personas. En JoiSolutions, no solo creamos
          herramientas, creamos posibilidades para que empresas y usuarios se
          conecten, crezcan y evolucionen juntos
          <span class="text-tertiary font-black">.</span>
        </p>
      </div>
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto px-4 py-10 md:py-40">
    <div class="flex flex-col md:flex-row-reverse items-center justify-between">
      <div class="w-full md:w-1/2 flex flex-col items-center md:items-end ">
        <div
          class="border border-neutral-200 px-6 py-1 rounded-full text-center text-neutral-500 text-sm md:text-lg mb-6 font-medium bg-neutral-50 shadow-lg"
        >
          <span class="flex items-center gap-1"> Nuestra vision</span>
        </div>
        <h2
          class="text-3xl md:text-4xl 3xl:text-[6em] font-black text-neutral-700 leading-[1.3em] mb-4 text-balance text-center md:text-right"
        >
        Ser un referente global en innovación tecnológica<span class="text-tertiary">.</span>
        </h2>
      </div>
      <div class="w-full md:w-1/2">
        <p class="text-xl text-neutral-700 leading-[1.3em] mb-4 max-w-[50ch] text-center md:text-right">
          Ser el puente entre la innovación y la necesidad, liderando un ecosistema de soluciones que transformen la forma en que el mercado y las personas se encuentran, intercambian valor y generan impacto
          <span class="text-tertiary font-black">.</span>
        </p>
      </div>
    </div>
  </div>
</section>